<section id="mobilebanner">
	<article>
		<div>
			<p class="welcome_text">Did you know? <br> Number of Cars Has Surpassed <span>1 Billion</span> Worldwide</p>
		</div>
	</article>
</section>
<section id="welcome_home">
	<article>
		<div>
			<p class="welcome_text">Did you know? <br> Number of Cars Has Surpassed <span>1 Billion</span> Worldwide</p>
		</div>
	</article>
</section>
<section id="welcome_why">
	<article>
		<p class="welcome_text2">More Than 30% of Drivers Use Dashboard Cameras to Protect Themselves in Asia</p>
	</article>
</section>
<section id="welcome_how">
	<article>
		<p class="welcome_text2"><span class="brand">ViDence</span> is here to help all road users to find evidence for their accidents</p>
	</article>
</section>
