<!-- START TIMER -->
<div id="comingsoon">
	<div id="rsvp_timer" class="text-center" data-animated="FadeIn">	
	    <div id="days" class="rsvp_timer_box"></div>
	    <div id="hours" class="rsvp_timer_box"></div>
	    <div id="minutes" class="rsvp_timer_box"></div>
	    <div id="seconds" class="rsvp_timer_box"></div>
	    <h1 id="message"></h1>
	</div>
</div>
<!-- END TIMER -->

<%= render :partial => 'shared/us_info' %>
