<style>
body:after{
    display:none;
    content: url(image_path('sd/sd_top.jpg'));
}
</style>

<div id="savethedatepage">
	<!-- DESKTOP TOP PAGE BEGIN-->
	<div class="hidden-xs">
		<section id="Jangel_SD" class="sd1" data-type="background" data-speed="3">
			<article>
					<p class="sd1_text">JERRY & ANGEL</p>
			</article>
		</section>
		<div class="sd_whitespace">
			<p class="sd_text">SAVE THE DATE</p>
			<br>
		</div>
		<section id="Lake_SD" class="sd2" data-type="background" data-speed="20">
			<article>
				<p class="sd1_text">LAKE TAHOE,</p>
				<p class="sd1_text">CALIFORNIA</p>
			</article>
		</section>
		<div class="sd_whitespace">
			<p class="sd_text">YOU ARE INVITED</p>
			<br>
		</div>
		<div class="mapoverlay" onClick="style.pointerEvents='none'">		
		</div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d198182.41684440308!2d-120.0449687!3d39.092802049999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809978a1b91f1151%3A0x8c3f1fafeeafb520!2z5aSq5rWp5rmW!5e0!3m2!1szh-TW!2sus!4v1426124789301" width="100%" height="800" frameborder="0" style="border:0" scrolling="no"></iframe>
		<section id="Info_SD">  <!-- placeholder for navDot --> </section>
		<div data-spy="affix" data-offset-top="0" id="dotNav" class="pull-right">
			<ul>
		      <li title="Jangel" class="active"><a href="#Jangel_SD"></a></li>
		      <li title="Lake Tahoe"><a href="#Lake_SD"></a></li>
		      <li title="Info"><a href="#Info_SD"></a></li>
		    </ul>
		</div>
	</div>
	

	
	<!-- DESKTOP TOP PAGE END -->

	<!-- Mobile TOP PAGE BEGIN -->

	<div class="hidden-sm hidden-md hidden-lg">
		<section class="m_sd1">
			<article>
			   <p class="m_sd1_text">JERRY & ANGEL</p>
			</article>
		</section>
		<div class="m_sd_whitespace1">
			<p class="m_sd_text">SAVE THE DATE</p>
			<br>
		</div>
		<section class="m_sd2">
			<article>
				<p class="m_sd1_text">LAKE TAHOE,</p>
				<p class="m_sd1_text">CALIFORNIA</p>
			</article>
		</section>
		<div class="m_sd_whitespace">
			<p class="m_sd_text">YOU ARE INVITED</p>
			<br>
		</div>
		<div class="m_mapoverlay" onClick="style.pointerEvents='none'"></div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d198182.41684440308!2d-120.0449687!3d39.092802049999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809978a1b91f1151%3A0x8c3f1fafeeafb520!2z5aSq5rWp5rmW!5e0!3m2!1szh-TW!2sus!4v1426124789301" width="100%" height="320" frameborder="0" style="border:0" scrolling="no"></iframe>
	</div>
	<!-- MOBILE TOP PAGE END -->

	<!-- SHARED INFO PAGE -->

	<div class="couple-info-top">
		<%= image_tag("sd/sd_couple.jpg") %>
		<p>A romantic affair...something special is in the <span id="typer">word1</span></p>
		<p>Kindly save the date for an outdoor marriage celebration uniting</p>
		<h3>Jerry Lin</h3>
		<h3>&</h3>
		<h3>Angel Kuo</h3>
		<p>On Sunday, August 2nd, 2015 <a class="glyphicon glyphicon-calendar" href="/savethedate.ics"></a></p>
		<p>South Lake Tahoe</p>
		<h3>Formal Invitation to Follow</h3>
	</div>
	<div id="sd_top_button" class="sd_arrow">
		<a class="btn btn-default" href="#savethedatepage">
			<span class="glyphicon glyphicon-menu-up"> </span>
			<span>TOP</span>
		</a>
	</div>
	<div class="sd_footer">
		<!-- see css -->
	</div>
	<!-- SHARED INFO PAGE END -->
</div>



