<%= render 'nav' %>
<div class="container">
<!-- a name for linking to section of a page -->
	<a name="13_28"></a>
		
	<p>test1</p>


	<a name="proposal"></a>
	<div id="test24" data-stellar-ratio="2">
	</div>
	<div id="test2" data-stellar-ratio="2">
	</div>

</div>
