<div class="container">

	<div style="display:none;" class="html5gallery center-block" data-skin="gallery" data-width="800" data-height="500">
	    <%=image_tag("route66.jpg") %>

	    <%=image_tag("yosemite1.jpg") %>


	</div>

</div>