// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Index*/
/*================================
    VIDEO SECTION STYLES
==================================*/
#video-sec {
    color: #fff;
    text-align: center;
}

    #video-sec .overlay {
        background-color: rgba(0, 0, 0, 0.55);
        min-height: 700px;
        color: #fff;
    }

    #video-sec h1 {
        padding-top: 80px;
        font-size: 50px;
        font-weight: 900;
        padding-bottom: 30px;
    }

/*================================
    Below Video Parralex
==================================*/
.parallax_space{
	text-align: center;
	margin-top: 150px;
	height:300px;
}
#cover{
	background: url(welcome/Cover.png) repeat;
	background-size: 110%;
	height:250px;
}
	#cover_title{
		font-weight: bold;
		margin-top: 50px;
		color: lightgrey;
		text-shadow: 3px 2px 2px #515151;
	}
	#cover_subtitle{
		color: #EEEEEE;
		text-shadow: 3px 2px 2px #515151;
	}
	#cover_button{
		font-size:22px;
		margin-top: 10px;
		padding: 5px 10px 5px 10px;
		color: #EEEEEE;
	}
	#cover_summary{
		margin-top:50px;
	}
#welcome_arrow{
	margin-bottom: 150px;
	height:50px;
	width:100px;

}
.parralex_space{
	text-align: center;
	margin-top: 150px;
	height:300px;
}
#welcome_home{
	top:15px;
	background: url(route66.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	height:800px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position:relative;
}
	#welcome_home article{
		font-size:50px;
		color: lightgrey;
		height: 458px;
		position: absolute;
		text-align:center;
		top:50px;
		width:100%;	
	}
	.welcome_text{
		background-color: white;
		opacity:0.6;
		color:#515151;
	}
#welcome_why{
	background: url(yosemite1.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	height:1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}
	#welcome_why article{
		font-size: 50px;
		color: lightgrey;
		height: 458px; 
		position: absolute; 
		text-align: center; 
		top: 150px; 
		width: 100%; 
	}
	.welcome_text2{
	background-color: white;
	opacity:0.7;
	color:#515151;
	}
#welcome_how{
	background: url(horseshoebend1.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	height:1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}
	#welcome_how article{
		font-size: 50px;
		color: lightgrey;
		height: 458px; 
		position: absolute; 
		text-align: center; 
		top: 150px; 
		width: 100%; 
	}