// Place all the styles related to the responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rsvp_top_img{
	background: url(image_path('rsvp/rsvp_top.jpg')) 100% 0 no-repeat fixed;
	background-size: 100%;
	height:250px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position:relative;
}
.rsvp_info{
	
}