.rsvp_top_img{
	background: url(image_path('rsvp/rsvp_top.jpg')) 50% 0 no-repeat fixed;
	background-size: cover;
	height: 1200px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position:relative;
}

.m_rsvp_top_img{
	background: url(image_path('rsvp/m_rsvp_top.jpg')) 70% 0 no-repeat;
	background-size: cover;
	height:100%;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	position:relative;
}

.rsvp_middle2_img{
	background: url(image_path('rsvp/rsvp_proposal.jpg')) 150% 0 no-repeat;
	background-size: cover;
	height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position:relative;
}
.m_rsvp_middle2_img{
	background: url(image_path('rsvp/rsvp_proposal.jpg')) 100% 0 no-repeat;
	background-size: 300%;
	height: 450px;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	position:relative;
}

.rsvp_middle_img{
	background: url(image_path('rsvp/rsvp_ring.jpg')) 150% 0 no-repeat;
	background-size: cover;
	height: 1200px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position:relative;
}

.m_rsvp_middle_img{
	background: url(image_path('rsvp/rsvp_ring.jpg')) 150% 0 no-repeat;
	background-size: 350%;
	height: 450px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position:relative;
}

.rsvp_error_box{
	margin: 0 auto;
	width:450px;
}

.rsvp_top{
	height:800px;
}

.rsvp_top_text{
	font-size:120px;
	letter-spacing: 0.2em;
	font-family: 'Wire One', sans-serif;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	/*font-weight: 300;*/
	color: #FFF1F0;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
	padding-top: 300px;
	text-align:center;
		}

.m_rsvp_top_text{
	font-size:80px;
	letter-spacing: 0.2em;
	font-family: 'Wire One', sans-serif;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	/*font-weight: 300;*/
	color: #FFF1F0;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
	padding-top: 200px;
	text-align:center;
}

.m_rsvp_top_arrow{
	font-size: 18px;
	margin-top: 100px;
	color:white;
}

.rsvp_middle_text{
	font-size:70px;
	letter-spacing: 0.2em;
	font-family: 'Wire One', sans-serif;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	/*font-weight: 300;*/
	color: #FFF1F0;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
	padding-top: 13%;
	text-align:center;
		}

.rsvp_middle_text2{
	font-size:70px;
	letter-spacing: 0.2em;
	font-family: 'Wire One', sans-serif;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	/*font-weight: 300;*/
	color: #FFF1F0;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
	padding-top: 28%;
	text-align:center;
}

#rsvp_invite{
	font-family: 'Raleway', sans-serif;
}

#rsvp_invite h1{
	font-size: 70px;
}

#rsvp_invite p{
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

.rsvp_inviting_you{
}

/*TIMER CSS HERE*/
#rsvp_timer{
	padding-bottom: 100px;
}

#rsvp_timer h1{
	font-size: 50px;
	font-family: 'Wire one', sans-serif !important;
}
.rsvp_timer_box{
    margin: 15px 15px;
    display: inline-block;
    padding: 20px 12px 0px 12px;
    text-align: center;
    width: 130px;
    border-radius: 50%;
    border: 4px solid rgba(248, 131, 121, .1);
}
.rsvp_timer_box h1{
    font-size: 48px;
    margin-top: 5px;
    padding-top: 0px;
    margin-bottom: 0px;
    font-weight: 900;
}
.rsvp_timer_box p{ margin-top: 0px;}

/*TIMER CSS FINISH*/

.rsvp_info{
	padding-left: 30px;
	padding-right: 30px;
}

.rsvp_info img{
	opacity: 0.6;
}

.rsvp_info .glyphicon-menu-down{
	width:70px;
	margin-top: 20px;
	font-size: 26px;
	color:lightgrey;
	text-decoration: none;
}

.rsvp_info .glyphicon-menu-down span{
	font-size: 14px;
	vertical-align: middle;
}

.rsvp_info a {
	color:grey;
	text-decoration: none;
}

.rsvp_info a:hover{
	text-decoration: none;
	color:black;
}

.rsvp_info a:visited{
	text-decoration: none;
}

.rsvp_info a:active{
	text-decoration: none;
}

#rsvp_date_info .rsvp_info_heading h1{
	font-size:60px;
	font-weight: 900;
	font-family: 'Wire One', sans-serif;
}
#rsvp_date_info .rsvp_info_heading h2{
	font-size:60px;
	font-family: 'Wire One', sans-serif;
}

.rsvp_info_heading p{
	font-size: 25px;
}

.rsvp_embed_map{
	width: 100%;
	margin: 0 auto;
}

.rsvp_route_overlay {
   background-color:rgba(175, 175, 175, 0.3) ; 
   position:relative; 
   width:100%;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

.rsvp_link_route a{

	padding: 10px 10px 10px 10px;
	width:250px;
	border:solid black;
}

.rsvp_link_route a:hover{
	background-color: coral;
}

#rsvp_info_all{

}

.rsvp_info{
	margin: 20px 0px 20px 0px;
}

.rsvp_info_heading{
	margin: 50px 0px 0px 0px;
}

#rsvp_pre_info{
	width:1000px;
	height:10px;
	margin-top: 50px;
	float:right;
}

#rsvp_pre_info a{
	color:grey;
}
#rsvp_expand_all{
	margin: 20px 50px 20px 20px;
}

.rsvp_inner_info p{
	font-size: 16px;
}

#rsvp_info_long_div{
	/*desktop only*/
	height:300px;
}

.rsvp_info_stay_img{
	
}

/*==== INFO ICON ================*/
.rsvp_info_icon span{
	font-size: 25px;
}

.rsvp_icon_div{
	margin: 0 auto;
	width:200px;
	text-align: center;
}

.rsvp_icon_div span{
	padding-left: 5px;
	vertical-align: middle;
	color:#F88379;
	font-weight: 500;
}

.rsvp_info_icon {
	text-align: left;
}

 /*===== INFO ICON END ===========*/

#rsvp_video_sec{
	color: #fff;
    text-align: center;
}
	#rsvp_video_sec .overlay{
		background-color: rgba(0, 0, 0, 0.3);
        min-height: 800px;
        color: #fff;
	}
	#rsvp_video_sec h2 {
        padding-top: 10px;
        font-size: 50px;
        font-weight: 900;
        padding-bottom: 20px;
    }
	#rsvp_video_sec h3{
		padding-bottom: 10px;
	}

#rsvp_video_form{
	position: relative;
	height:450px;
	margin-left: auto;
	margin-right: auto;
}


#rsvp_mobile_form{
	background: url(image_path('rsvp/m_rsvp_form.jpg')) no-repeat;
	background-size: cover;
	height:950px;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	position:relative;
	color: #fff; /*text color*/
}

	#rsvp_mobile_form .container{
		padding-top: 20px;
	}


#pre-form{
	margin-top:-20px;
	margin-bottom: 100px;
}

#pre-form a{
	font-size: 50px;
	color:#F87984;
}
	
#pre-form a:hover{
	color:coral;
	text-decoration: none;
}

#pre-form p{
	color:#F87984;
	margin: -15px 0 -15px 0;
	padding: 0 0 0 0;
}



#rsvp_form h2 {
	font-size: 60px;
	font-weight: 900;
	font-family: 'Wire one', sans-serif !important;
}

#rsvp_form h3{
	font-size:40px;
	font-family: 'Wire one', sans-serif !important;
}

.btn-div .btn-info{
   margin-top: 20px;
   height:50px;
   font-weight: 900;
   background-color: #FFAAA3;
   border: solid #FFAAA3;
   font-size: 20px;
}

.btn-div .btn-info:hover{
	background-color: #F88379;
	border: solid #F88379;
}


.rsvp_discussion{
	margin-top: 50px;
}

#rsvp_comment{
	padding-left: 30px;
	padding-right: 30px;
}

#rsvp_top_button .btn-info{
	margin:0 0 0 0;
	padding: 0 0 0 0;
   background-color: #FFAAA3;
   border: solid #FFAAA3;
   color:#FFF0EF;
}

#rsvp_top_button .btn-info:hover{
	background-color: #F88379;
	border: solid #F88379;
}

.rsvp_arrow{
	top: 30px;
	position: relative;
	text-align: center;
	margin: 10px 10px 10px 10px;
	border-radius: 50%;
}

.rsvp_footer{
	 /* fallback */
	 background-color: #FFAAA3;
	 background-repeat: repeat-x;

	 /* Safari 4-5, Chrome 1-9 */
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFAAA3), to(#FFFFFF));

	 /* Safari 5.1, Chrome 10+ */
	 background: -webkit-linear-gradient(top, #FFFFFF, #FFAAA3);

	 /* Firefox 3.6+ */
	 background: -moz-linear-gradient(top, #FFFFFF, #FFAAA3);

	 /* IE 10 */
	 background: -ms-linear-gradient(top, #FFFFFF, #FFAAA3);

	 /* Opera 11.10+ */
	 background: -o-linear-gradient(top, #FFFFFF, #FFAAA3);
	 height:250px;
}
