.navbar.transparent.navbar-default{
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.rsvp_top_img{
	background: url(image_path('rsvp/rsvp_top.jpg')) 50% 0 no-repeat fixed;
	background-size: cover;
	height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position:relative;
}

.m_rsvp_top_img{
	background: url(image_path('rsvp/m_rsvp_top.jpg')) 100% 0 no-repeat;
	background-size: 120%;
	height:320px;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	position:relative;
}

.rsvp_middle_img{
	background: url(image_path('rsvp/rsvp_ring.jpg')) 150% 0 no-repeat;
	background-size: cover;
	height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position:relative;
}

.m_rsvp_middle_img{
	background: url(image_path('rsvp/rsvp_ring.jpg')) 150% 0 no-repeat;
	background-size: cover;
	height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	
}
.rsvp_error_box{
	margin: 0 auto;
	width:450px;
}

.rsvp_top{
	height:800px;
}

.rsvp_top_text{
	font-size:120px;
	letter-spacing: 0.2em;
	font-family: 'Wire One', sans-serif;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	/*font-weight: 300;*/
	color: white;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
	padding-top: 350px;
	text-align:center;
		}

.m_rsvp_top_text{
	font-size:60px;
	letter-spacing: 0.2em;
	font-family: 'Wire One', sans-serif;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	/*font-weight: 300;*/
	color: white;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
	padding-top: 100px;
	text-align:center;
}

.rsvp_middle_text{
	font-size:70px;
	letter-spacing: 0.2em;
	font-family: 'Wire One', sans-serif;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	/*font-weight: 300;*/
	color: white;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
	padding-top: 170px;
	text-align:center;
		}

#rsvp_invite{
	height: 750px;
	font-family: 'Raleway', sans-serif;
}

#rsvp_invite h1{
	font-size: 70px;
}

#rsvp_invite p{
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

.rsvp_info{
	padding-left: 30px;
	padding-right: 30px;
}

.rsvp_info img{
	opacity: 0.6;
}

.rsvp_info .glyphicon-menu-down{
	margin-top: 20px;
	font-size: 26px;
	color:lightgrey;
}

.rsvp_info a {
	color:grey;
	text-decoration: none;
}

.rsvp_info a:hover{
	text-decoration: none;
	color:black;
}


#rsvp_video_sec{
	color: #fff;
    text-align: center;
}
	#rsvp_video_sec .overlay{
		/*background-color: rgba(0, 0, 0, 0.55);*/
        min-height: 550px;
        color: #fff;
	}
	#rsvp_video_sec h2 {
        padding-top: 10px;
        font-size: 50px;
        font-weight: 900;
        padding-bottom: 20px;
    }
	#rsvp_video_sec h3{
		padding-bottom: 10px;
	}

#rsvp_video_form{
	position: relative;
	height:300px;
	margin-left: auto;
	margin-right: auto;
}


#rsvp_mobile_form{
	background: url(image_path('rsvp/m_rsvp_form.jpg')) no-repeat;
	background-size: cover;
	height:620px;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	position:relative;
	color: #fff; /*text color*/
}

	#rsvp_mobile_form .container{
		padding-top: 20px;
	}

.rsvp_info{
	margin: 20px 0px 20px 0px;
}

.rsvp_info_heading{
	margin: 50px 0px 50px 0px;
}
/*Dot NAV*/
.affix-top {
    top: 30%; 
	right: 0;
	position:absolute;
	z-index:2;
}
.affix {
    top: 30%;
	right: 0;
	z-index:2;
}

#rsvp_dotNav {
	z-index: 5;
	right: 1%;
	padding: 7px;
	padding-top: 12px;
}
#rsvp_dotNav ul {
	list-style: none;
	padding-left: 0;
	margin:0;
}
#rsvp_dotNav li {
	position: relative;
	/*background: none repeat scroll 0 0 #cccccc;*/
	border:1px solid lightgrey;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	height: 15px;
	margin: 10px 10px 0px 0px;
	width: 15px;
	vertical-align:bottom;
}
#rsvp_dotNav li.active {
	background-color: grey;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
	background-repeat: repeat-x;
}
#rsvp_dotNav li:hover {
	background: none repeat scroll 0 0 #EEEEEE;
}
#rsvp_dotNav a {
	outline: 0;
	vertical-align:top;
	margin: 0px 0px 0px 25px;
	position: relative;
	top:-5px;
}

.rsvp_embed_map{
	width: 320px;
	margin: 0 auto;
}

.rsvp_mapoverlay {
   background: url(image_path('rsvp/rsvp_map.png'));
   position:relative; 
   width:320px;
   height:300px; /* your iframe height */
   top:300px;  /* your iframe height */
   margin-top:-300px;  /* your iframe height */
}

#pre-form{
	height: 250px;
}

#pre-form h1{
	margin-top: 100px;
}
	
#rsvp_pre_info{
	height:50px;
}
#rsvp_expand_all{
	margin: 20px 50px 20px 20px;
}

.rsvp_inner_info p{
	font-size: 20px;
}

#rsvp_form h2{
	font-size: 40px;
}

.rsvp_discussion{
	margin-top: 50px;
}

#rsvp_comment{
	padding-left: 30px;
	padding-right: 30px;
}