/*================================
   Save The Date (desktop+mobile)
==================================*/
#savethedatepage h1 h2 h3 p li{
	font-family: 'Didact Gothic', sans-serif;
}

.mapoverlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:800px; /* your iframe height */
   top:800px;  /* your iframe height */
   margin-top:-800px;  /* your iframe height */
}


.sd1{
	background: url(image_path('sd/sd_top.jpg')) 100% 0 no-repeat fixed;
	background-size: cover;
	height:1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position:relative;
}
	.sd1 article{
		height: 250px;
		position: relative;
		top:250px;
		width:100%;	
	}
	.sd1_text{
	font-size:60px;
	letter-spacing: 0.2em;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	/*font-weight: 300;*/
	color: white;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
	padding-top: 100px;
	text-align:center;
		}

.sd_text{
	font-size:60px;
	letter-spacing: 0.2em;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	/*font-weight: 300;*/
	color: black;
	vertical-align: middle;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
	text-align:center;
}

.sd_whitespace{
	margin: 150px 0 150px 0;
}
.sd2{
	background: url(image_path('sd/sd_sand.jpg')) 50% 0 no-repeat fixed;
	background-size: cover;
	height:1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position:relative;
}
	.sd2 article{
		height: 250px;
		position: relative;
		top:250px;
		width:100%;	
	}






/*====================
       Mobile
=====================*/
.m_sd1{
	background: url(image_path('sd/m_sd_top.jpg')) 65% 0 no-repeat;
	background-size: 110%;
	height:320px;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	position:relative;
}
	.m_sd1 article{
		height: 20px;
		position: relative;
		top: 55px;
		width:100%;	
	}
	.m_sd1_text{
	font-size:28px;
	font-weight: 300;
	letter-spacing: 0.2em;
	color: white;
	/*text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;*/
	padding-top: 50px;
	text-align:center;
		}

.m_sd_text{
	font-size:28px;
	font-weight: 300;
	letter-spacing: 0.2em;
	color: black;
	vertical-align: middle;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
	text-align:center;
}

.m_sd_whitespace1{
	margin: 100px 0 100px 0;
}

.m_sd_whitespace{
	margin: 100px 0 100px 0;
}
.m_sd2{
	background: url(image_path('sd/sd_sand.jpg')) 50% 0 no-repeat;
	background-size: 100%;
	height:320px;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	position:relative;
}
	.m_sd2 article{
		height: 20px;
		position: relative;
		top:35px;
		width:100%;	
	}

.couple-info-top{
	margin-top: 150px;
	text-align: center;
}

.couple-info-top h2{
	margin: 30px 30px 30px 30px;
}

.couple-info-top p{
	font-size: 20px;
	line-height: 130%;
}

.couple-info-top img{
	height: 180px;
	width: 180px;
	-moz-border-radius: 200px;
	border-radius: 200px;
}

.couple-info-list li{
	width: 260px;
	margin:0 auto;
	line-height: 110%;
	font-size: 18px;
	text-align: left;
}

.sd_end_note{
	text-align: right;
	font-size: 20px;
	margin-top: 50px;
}
#welcome_how{
	background: url(image_path('horseshoebend1.jpg')) 50% 0 no-repeat fixed;
	background-size: cover;
	height:1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}
	#welcome_how article{
		font-size: 50px;
		color: lightgrey;
		height: 458px; 
		position: absolute; 
		text-align: center; 
		top: 150px; 
		width: 100%; 
	}