/*================================
   Save The Date (desktop+mobile)
==================================*/
#savethedatepage h1 h2 h3 p li{
	font-family: 'Didact Gothic', sans-serif;
}

.mapoverlay {
   background-color:rgba(175, 175, 175, 0.3) ; 
   position:relative; 
   width:100%;
   height:800px; /* your iframe height */
   top:800px;  /* your iframe height */
   margin-top:-800px;  /* your iframe height */
}

.sd1{
	background: url(image_path('sd/sd_top.jpg')) 100% 0 no-repeat fixed;
	background-size: cover;
	height:1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position:relative;
}
	.sd1 article{
		height: 250px;
		position: relative;
		top:250px;
		width:100%;	
	}
	.sd1_text{
	font-size:60px;
	letter-spacing: 0.2em;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	/*font-weight: 300;*/
	color: white;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
	padding-top: 100px;
	text-align:center;
		}

.sd_text{
	font-size:60px;
	letter-spacing: 0.2em;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	/*font-weight: 300;*/
	color: black;
	vertical-align: middle;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
	text-align:center;
}

.sd_whitespace{
	margin: 150px 0 150px 0;
}
.sd2{
	background: url(image_path('sd/sd_sand.jpg')) 50% 0 no-repeat fixed;
	background-size: cover;
	height:1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position:relative;
}
	.sd2 article{
		height: 250px;
		position: relative;
		top:250px;
		width:100%;	
	}


/*Dot NAV*/
.affix-top {
    top: 30%; 
	right: 0;
	position:absolute;
	z-index:2;
}
.affix {
    top: 30%;
	right: 0;
	z-index:2;
}

#dotNav {
	z-index: 5;
	right: 1%;
	padding: 7px;
	padding-top: 12px;
}
#dotNav ul {
	list-style: none;
	margin:0;
}
#dotNav li {
	position: relative;
	/*background: none repeat scroll 0 0 #cccccc;*/
	border:1px solid lightgrey;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	height: 15px;
	margin: 10px 10px 0px 0px;
	width: 15px;
	vertical-align:bottom;
}
#dotNav li.active {
	background-color: grey;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
	background-repeat: repeat-x;
}
#dotNav li:hover {
	background: none repeat scroll 0 0 #EEEEEE;
}
#dotNav a {
	outline: 0;
	vertical-align:top;
	margin: 0px 0px 0px 25px;
	position: relative;
	top:-5px;
}



/*====================
       Mobile
=====================*/
.m_mapoverlay {
   background-color:rgba(175, 175, 175, 0.3) ; 
   position:relative; 
   width:100%;
   height:320px; /* your iframe height */
   top:320px;  /* your iframe height */
   margin-top:-320px;  /* your iframe height */
}
.m_sd1{
	background: url(image_path('sd/m_sd_top.jpg')) 65% 0 no-repeat;
	background-size: cover;
	margin: 0 auto;
	height:320px;
	width: 100%;
	max-width: 768px;
	position:relative;
}
	.m_sd1 article{
		height: 20px;
		position: relative;
		top: 55px;
		width:100%;	
	}
	.m_sd1_text{
	font-size:28px;
	font-weight: 300;
	letter-spacing: 0.2em;
	line-height:120%;
	color: white;
	/*text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;*/
	padding-top: 50px;
	text-align:center;
		}

.m_sd_text{
	font-size:26px;
	font-weight: 300;
	letter-spacing: 0.2em;
	line-height:120%;
	color: black;
	vertical-align: middle;
	text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
	text-align:center;
}

.m_sd_whitespace1{
	margin: 100px 0 100px 0;
}

.m_sd_whitespace{
	margin: 100px 0 100px 0;
}
.m_sd2{
	background: url(image_path('sd/sd_sand.jpg')) 50% 0 no-repeat;
	background-size: cover;
	height:320px;
	margin: 0 auto;
	width: 100%;
	max-width: 768px;
	position:relative;
}
	.m_sd2 article{
		height: 20px;
		position: relative;
		top:35px;
		width:100%;	
	}

.couple-info-top{
	margin-top: 100px;
	text-align: center;
}

.couple-info-top h2{
	margin: 30px 30px 30px 30px;
}

.couple-info-top h3{
	margin: 30px 30px 30px 30px;
}

.couple-info-top p{
	font-size: 20px;
	line-height: 130%;
	margin: 10px 10px 10px 10px;
}

.couple-info-top img{
	height: 180px;
	width: 180px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	margin: 10px 10px 20px 10px;

}

.sd_arrow{
	top: 30px;
	position: relative;
	text-align: center;
	margin: 150px 10px 10px 10px;
	border-radius: 50%;
	
}


.sd_footer{
	background-color: #F5F5F5;
	height:120px;
}

#welcome_how{
	background: url(image_path('horseshoebend1.jpg')) 50% 0 no-repeat fixed;
	background-size: cover;
	height:1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}
	#welcome_how article{
		font-size: 50px;
		color: lightgrey;
		height: 458px; 
		position: absolute; 
		text-align: center; 
		top: 150px; 
		width: 100%; 
	}