<!DOCTYPE html>
<html>
<head>
  <title>Jerry&Angel 2015.08.02</title>
  <meta name="viewport" content="width=device-width">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!--BOOTSTRAP CSS and JS -->	

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> 
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"> 
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

<!-- fonts -->
	
	<link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>

</head>
<body>
	
	<%= yield %>

</body>
</html>
